@use '../../styles/constants.scss';

.media{
    min-width: 100%;
   display: flex;
   justify-content: center;
    & img{
        height:auto;
        width: 100%;
        object-position: center;
        object-fit: contain;
    }
}

@media screen and (max-width:568px) {

    .post{
        background-color: constants.$white;
    }
    .post-info{
       & h6{
        font-weight: 400;
        word-spacing: 2px;
        }
        padding:10px 15px 10px 15px;
    }
    .post-actions{
        display: flex;
        column-gap: 10px;
        padding:10px;
    }
}

@media screen and (max-width:375px) {

    .post{
        background-color: constants.$white;
    }
    .post-info{
        padding:10px;
    }
    .post-actions{
        display: flex;
        column-gap: 10px;
        padding:10px;
    }
}