@use '../../styles/constants.scss';

.trail{
    position: absolute;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: 15px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 150;
    & .trail_paths{
        height: 3px;
        border-radius: 20px;
        margin-left:4px;
        margin-right:4px;
        background-color: constants.$gray;
        transition: all 7s;
        &.active{
          position: relative;
        }
        &.active::before {
            content: '';
            position: absolute;
            left:0;
            height: 3px;
            border-radius: 20px;
            width: 0%;
            background-color: constants.$charcoal;
            animation: loading-animation 5s ease-out forwards;
          }
          
    }
}
@keyframes loading-animation {
    from {
      width: 0%;
    }
    to {
      width:100%;
    }
  }