@use './constants.scss';
@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding:0;
}
body{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: constants.$gray;
}
/*---------------------------------------------------bodyscrollbar css-------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*---------------------------------------------------bodyscrollbar css-------------------------------------------------------------------- */

/*--------------------------------------------------------scrollbar css------------------------------------------------------------------- */
.scroll {
    padding: 0px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: max-content;
}

.scroll::-webkit-scrollbar {
    height: 0rem;
    width: 0rem;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background: white;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6,p,small{
    font-weight: 400;
    margin: 0;
    margin-block-start:0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
@media screen and (max-width:568px) {
    h1{
        font-size: 1.6rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.125rem;
    }
    h5{
        font-size: 1rem;
    }
    h6{
        font-size: 0.875rem;
    }
    p{
        font-size: 0.75rem;
        letter-spacing: 0.5px;
        word-spacing: 2px;
        font-weight: 400;
        line-height: 18px;
    }
    small{
        font-size: 0.6rem;
    }
    .logo{
        width:auto;
        height:2.5rem;
    }
    .icon{
            width:1.8rem;
            height:auto;
    }
    .icon-mid{
        width: 2.5rem;
        height:auto;
    }
}
@media screen and (max-width:375px) {

    .logo{
        width:auto;
        height:2rem;
    }
    .icon{
            width:1.5rem;
            height:auto;
    }
}