@use '../../styles/constants.scss';

.new-arrival{
    height: 95vh;
    position: relative;
    overflow: hidden;
    & h4{
        padding:10px 20px 10px 20px ;
        position: absolute;
        top:0;
        margin-top: 10px;
    }
    & .arrivals{
        // height: 85vh;
        // display: grid;
        // place-items: center;
        overflow: hidden;
    }
    & .arrival-images{
        width:100%;
        height: auto;
    }
}